---
import PostCardList from '@/components/post-card-list.astro';
import ProfileCard from '@/components/profile-card.astro';
import { Badge } from '@/components/ui/badge';
import PageLayout from '@/layouts/page-layout.astro';
import { getPosts, getTags } from '@/lib/posts';

const posts = await getPosts();
const tags = await getTags();
---

<PageLayout>
  <div class="flex flex-row justify-center gap-x-6">
    <div class="grow">
      <PostCardList posts={posts} />
    </div>
    <aside
      class="sticky left-auto right-0 top-16 hidden max-h-screen w-80 overflow-y-auto bg-white lg:block dark:bg-default-900"
    >
      <div class="sticky top-0 h-fit bg-inherit py-6 text-default-900 dark:text-default-50">
        <div class="flex flex-col items-center gap-y-4">
          <ProfileCard />
        </div>
      </div>
      <div class="flex flex-col gap-y-2">
        <h5 class="text-lg font-bold tracking-tighter text-default-900 dark:text-default-50">
          태그 목록
        </h5>
        <ul class="flex flex-wrap gap-x-2 gap-y-1">
          {
            tags.map(tag => (
              <li>
                <a href={`/tags/${tag}`}>
                  <Badge variant="filled" color="primary" size="sm" clickable>
                    {tag}
                  </Badge>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </div>
</PageLayout>
