---
import '@/styles/global.css';

import Fonts from '@/components/fonts.astro';
import Seo, { type Props as SeoProps } from '@/components/seo.astro';
import Sitemap from '@/components/sitemap.astro';
import ThemeScript from '@/components/theme-script.astro';

export interface Props {
  seo?: SeoProps;
}

const { seo } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo {...seo} />
    <Fonts />
    <Sitemap />
    <ThemeScript />
    <slot name="extra-heads" />
  </head>
  <body class="bg-white text-default-500 antialiased dark:bg-default-900 dark:text-default-400">
    <slot />
  </body>
</html>
