---
import '@/styles/post.css';

import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';
import BaseLayout, { type Props as BaseLayoutProps } from '@/layouts/base-layout.astro';

type Props = BaseLayoutProps;

const { seo } = Astro.props;
---

<BaseLayout seo={seo}>

  <Header />
  <main class="my-6 min-h-screen px-3 lg:px-6">
    <div class="mx-auto w-full max-w-screen-sm">
      <slot />
    </div>
    <aside
      class="fixed left-auto right-[max(0px,calc(50%-50rem))] top-16 hidden h-full w-80 overflow-y-auto px-6 xl:block"
    >
      <nav class="flex flex-col gap-y-2 p-6 pb-36">
        <h5 class="font-bold tracking-tighter text-default-900 dark:text-default-50">목차</h5>
        <slot name="toc" />
      </nav>
    </aside>
  </main>
  <Footer />
</BaseLayout>
